#root {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  font-style: bold;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.item-list {
    display: flex;
    flex-direction: row;
}

.item {
  background-color: lightgreen;
  margin: 1rem;
  padding: 2rem;
}